unstructured
streamlit>=1.29.0
langchain==0.1.0
langchain-community==0.0.10
faiss-cpu>=1.7.4
torch
transformers>=4.36.0
sentence-transformers>=2.2.2
huggingface-hub>=0.19.4
requests>=2.31.0
text-generation>=0.6.1
